.CFUserTextEncoding
.DS_Store
/.anyenv/
/.atom/
/.aws/
/.bash_history
/.bundle/cache
/.cache/
/.circleci/
/.clasprc.json
/.config/anyenv/
/.config/coc/
/.config/github-copilot
.config/nvim/.netrwhist
/.docker/
/.dlv/
/.eclipse/
/.exports.priv
/.fzf/
/.fzf.bash
/.fzf.zsh
/.gem/
/.gitconfig
/.gnupg/
/.go-version
/.gradle/
/.guard_history
/.hyper_plugins/
/.irb_history
/.k9s/
/.kube/
/.lesshst
/.local/share/nvim/*
/.local/share/direnv/*
/.local/share/karabiner/*
/.local/share/wezterm/*
/.m2/
/.node_repl_history
/.npm/
/.nuxtrc
/.protodep/
/.python_history
/.sdkman/
/.solargraph/
/.ssh/
/.terraform.d/
/.tig_history
/.vim/
/.viminfo
/.vscode/
/.wget-hsts
/.yarn/
/.zcompdump*
/.zplug/
/.zprofile
/.zsh_history
/.yarnrc
/Applications/
/Desktop/
/Documents/
/Downloads/
/ghq/
/go/
javasharedresources/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/sdk/
/node_modules/
slim.report.json
/workspace/