.CFUserTextEncoding
.DS_Store
.anyenv/
.aws/
.bash_history
.cache/
.circleci/
.clasprc.json
.config/anyenv/
.config/coc/
.config/nvim/.netrwhist
.docker/
.dlv/
.exports.priv
.fzf/
.gem/
.gitconfig
.gnupg/
.go-version
.hyper_plugins/
.kube/
.lesshst
.local/share/nvim/*
.node_repl_history
.npm/
.nuxtrc
.ssh/
.tig_history
.vim/
.viminfo
.wget-hsts
.zcompdump*
.zplug/
.zprofile
.zsh_history
.yarnrc
Applications/
Desktop/
Documents/
Downloads/
go/
Library/
Movies/
Music/
Pictures/
Public/
slim.report.json
workspace/
