.CFUserTextEncoding
.DS_Store
.anyenv/
.atom/
.aws/
.bash_history
.bundle/cache
.cache/
.circleci/
.clasprc.json
.config/anyenv/
.config/coc/
.config/nvim/.netrwhist
.docker/
.dlv/
.eclipse/
.exports.priv
.fzf/
.gem/
.gitconfig
.gnupg/
.go-version
.gradle/
.guard_history
.hyper_plugins/
.irb_history
.kube/
.lesshst
.local/share/nvim/*
.m2/
.node_repl_history
.npm/
.nuxtrc
.python_history
.sdkman/
.solargraph/
.ssh/
.tig_history
.vim/
.viminfo
.wget-hsts
.zcompdump*
.zplug/
.zprofile
.zsh_history
.yarnrc
Applications/
Desktop/
Documents/
Downloads/
go/
javasharedresources/
Library/
Movies/
Music/
Pictures/
Public/
slim.report.json
workspace/
